;           /* Chat-GPT & GGG cooked here 👩‍🍳🍳👨‍🍳 */

@-webkit-keyframes homeimg-in {
    0% {
      -webkit-transform: scale(0.90);
      transform: scale(0.90);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }}
@keyframes homeimg-in {
    0% {
      -webkit-transform: scale(0.90);
      transform: scale(0.90);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}
@-webkit-keyframes homeimg-out {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.90);
      transform: scale(0.90);
    }
}
@keyframes homeimg-out {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.90);
      transform: scale(0.90);
    }
}
.homeimg {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.homeimg:hover,.homeimg:focus,.homeimg:active {
  -webkit-animation-name: homeimg-in;
  animation-name: homeimg-in;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
 -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.homeimg:not(:hover) {
  -webkit-animation-name: homeimg-out;
  animation-name: homeimg-out;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
