nav.navbar{
    background-color: var(--Second);
    height: 2cm;

    box-shadow: 2px 1px 10px;
}
div.container{
    background-color: var(--Second);
}
div.dropdown-menu{
    background-color: var(--SideNav);
}
a.dropdown-item:hover{
    background-color: var(--texthover);
}
a.dropdown-item:hover{
    transition: all 0.155s !important;
    background-color: var(--texthover);
    border-radius: 0.125cm;
    border-bottom-right-radius: 0.2cm;
    font-size: 17.5px !important;
}
li.nav-item{
    padding: 0.1125cm;
}
li.nav-item:hover {
    transition: all 0.155s !important;
    background-color: var(--texthover);
    border-radius: 0.25cm;
}
div.container{
    display: flex;
    justify-content: center;
}
button.navbar-toggler:focus {
    border: 0 !important;
    box-shadow: none !important;
}
button.navbar-toggler{
    border: 0 !important;
    box-shadow: none !important;
}
@media only screen and (max-width: 550px){
    a.nav-link:hover {
        transition: all 0.25s;
        font-size: 17px !important;
    }
}